    header,
    main,
    footer {
    background-color: rgb(125, 199, 126);
    }

header div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

li {
    list-style: none;
}

h1 {
    font-size: 3em;
    font-weight: 600;
}

h2 {
    font-size: 2em;
}

nav ul {
    display: flex;
    gap: 6rem;
}

nav a {
    text-decoration: none;
    color:azure;
    text-transform: uppercase;
    font-size: 1em;
    font-weight:300;
    background-color:rgb(13, 19, 184);
    padding: 1rem;
}

nav a:hover {
    background-color:rgb(128, 0, 115);
}

main {
    margin: 1rem 0;
    padding: 1 rem;
    display: flex;
    column-gap: 1.5rem;
}

main section {
    background-color:cornflowerblue;
    padding: 0 2rem;
}

main section:first-child {
    min-width: 50%;
}
main section:first-child img {
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    transition: opacity 0.5s ease-in-out;
}

main section: :last-child {
    display: grid;

    grid-template-areas: {
        "header header"
        "img-1 img-2"
        "img-3 img-4"
        "img-5 img-6";
}

main section:last-child h2 {
    grid-area: header;
}
    
main section:last-child  img:first-child {
    grid-area: img-1;
}

main section:last-child  img:nth-child(2) {
    grid-area: img-2;
}

main section:last-child  img:nth-child(3) {
    grid-area: img-3;
}

main section:last-child  img:nth-child(4) {
    grid-area: img-4;
}

main section:last-child  img:nth-child(5)  {
    grid-area: img-5;
}

main section:last-child  img:last-child  {
    grid-area: img-6;
}

footer {
    padding: 1rem 0.5rem;
  }

  .absolute {
    position: absolute;
  }

  .flex {
    display: flex;
  }

  .flex--col {
    flex-direction: column;
  }
  


